name: horizontal_center_date_picker
description: A flutter widget provides a horizontal date picker and always aligns selected date in center.
version: 1.0.0+1
author: May Lau<may.lau.dev@gmail.com>
homepage: https://github.com/MayLau-CbL/flutter_horizontal_center_date_picker

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  
  intl: ^0.16.1  

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
